<style type="text/css">@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=cyrillic");</style>
<link rel="stylesheet" href="{{ "/assets/css/vendors/pure.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/assets/css/vendors/pure-grids-responsive.min.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

<script src="{{ "/assets/js/vendors/zepto.min.js" | prepend: site.baseurl }}"></script>

<script>
    if ($(".post--docs").length) {
        $(".footer").addClass("footer--docs")
    }

    $(".modal--close_backdrop").click(function(){
        window.location.hash = "";
    });
</script>
