{% include global_variables.html %}

<div class="menu pure-u-1 pure-u-md-1-4">
  <div class="header">
    <h2 class="header__title">
      {% if first_page %}
        {{ site.name }}
      {% else %}
        <a href="{{ site.url }}" class="header__title_link" title="На главную">{{ site.name }}</a>
      {% endif %}
    </h2>
    <h3 class="header__tagline">{{ site.tagline }}</h3>

    <nav class="nav">
      <ul class="nav_list">
        {% for item in site.data.nav %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}

          {% if item.children %}
            <li class="nav_list__item {{ active_class }}">
              <a href="{{ site.url }}/{{ item.path }}" data-popover="#{{ item.section_id }}" class="nav_list__item_link pure-button">{{ item.name }}</a>
            </li>
          {% else %}
            <li class="nav_list__item {{ active_class }}">
              <a href="{{ site.url }}/{{ item.path }}" class="nav_list__item_link pure-button">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <a href="#modal" class="pure-button header__subscribe_link">Подписаться на рассылку</a>
  </div>
</div>
