<div id="modal" class="modal">
  <div class="modal__content">
    <a href="#close" title="Close" class="modal__close">x</a>

    <h2 class="modal__title">Ламповая рассылка про&nbsp;Эликсир</h2>

    <p>Один-два раза в&nbsp;неделю присылаем тёплые письма об&nbsp;Эликсире: переводы самых интересных статей до&nbsp;их&nbsp;появления в&nbsp;открытом доступе, анонсы событий и&nbsp;вкусные бонусы.</p>

    <form action="//wunsh.us14.list-manage.com/subscribe/post?u=c81ca3d4693f62db7f7f67c71&amp;id=a192e2dfef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="pure-form tc validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="modal__input pure-input-rounded large" id="mce-EMAIL" placeholder="Твоя почта" required>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c81ca3d4693f62db7f7f67c71_a192e2dfef" tabindex="-1" value=""></div>

      <input type="submit" value="Присоединиться" name="subscribe" id="mc-embedded-subscribe" class="pure-button button-success large">
    </form>

    <p>Обязательно подтверди почту, перейдя по&nbsp;ссылке в&nbsp;письме, иначе мы&nbsp;не&nbsp;сможем делиться с&nbsp;тобой полезностями.</p>

    <p>Надоедать точно не&nbsp;будем :)</p>
  </div>
</div>
