<section class="post">
  <header class="post__header">
    <a href="{{ post.url }}" class="post__title_link">
      <h3 class="post__title">{{ post.title }}</h3>
    </a>

    <div class="post__meta">
      {% include translated_date.html date=post.date format="%d %B %Y" %}

      <span class="tag_cloud tags_cloud--inline">
        {% include tags_cloud.html post_tags=post.tags %}
      </span>
    </div>
  </header>

  <div class="post__description">
    <p>
      {{ post.excerpt }}
    </p>
  </div>
</section>
