<section class="post_small post_small--main">
  <header class="post_small__header">
    <img width="72" height="72" class="post_small__cover" title="{{ main_post.title }}" src="{{ main_post.cover }}">

    <a href="{{ main_post.url }}" class="post__title_link">
      <h3 class="post_small__title">{{ main_post.title }}</h3>
    </a>

    <div class="post_small__meta">
      {% include translated_date.html date=main_post.date format="%d %B %Y" %}

      <span class="tag_cloud tags_cloud--inline">
        {% include tags_cloud.html post_tags=main_post.tags %}
      </span>
    </div>
  </header>

  <div class="post_small__description">
    <p>
      {{ main_post.excerpt }}
    </p>
  </div>
</section>
