.h-responsive_image {
  max-width: 100%;
  height: auto;
}

.h-simple_link {
  color: $text-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.h-simple_list {
  list-style: none;
  padding-left: 1em;
}

.h-tc { text-align: center; }

.h-no_margin {
  margin: 0 !important;
}

.h-bold {
  font-weight: bold;
}

.h-hidden_mobile {
  display: none;
}

@media (min-width: $mobile) {
  .h-hidden_mobile {
    display: initial;
  }
}
