@mixin header-font {
  font-family: $header-font, sans-serif;
  font-weight: normal;
}

@mixin blockquote-font {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant: small-caps;
}

@mixin text-font {
  font-family: $text-font, serif;
}

%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}
