$header-font: "Source Sans Pro";
$text-font: "Georgia";

$main-color: #f3b700;
$header-color: #32021f;
$text-color: #4b2e39;
$link-color: #fff;
$grey-color: #faf7ff;

$mobile: 48rem;
$desktop: 85rem;

$spacing-unit: 30px;
