.content {
  padding: 2em 1em 0;

  &__subhead {
    text-transform: uppercase;
    color: $text-color;
    border-bottom: 1px solid $link-color;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
}

@media (min-width: $mobile) {
  .content {
    padding: 1em 2em 0;
    margin-left: 25%;
  }
}
