.docs_nav {
  position: fixed;
  height: $docs-nav-height;
  padding: 6px;
  bottom: 0;
  left: 0;
  right: 0;

  &__column {
    &--prev {
      text-align: left;
    }

    &--contents {
      text-align: center;
    }

    &--next {
      text-align: right;
    }
  }

  &__link {
    display: inline-block;
    background: $main-color;
    color: $link-color;
    vertical-align: middle;
    border-radius: 50px;
    text-decoration: none;
    line-height: 36px;

    &--contents {
      height: 52px;
      width: 52px;
      display: inline-block;
      border-radius: 50%;
      font-size: 20px;
      line-height: 34px;
      padding: 0.5em 0.75em;
    }
  }
}

@media (min-width: $mobile) {
  .docs_nav {
    &__inner {
      margin-left: 25%;
    }
  }
}