.menu-pills {
  &__item {
    border-radius: 0.25rem !important;
    margin-right: 0.2rem;

    &.pure-menu-selected {
      color: #fff;
      background: $main-color;
      padding: 0.5rem 1rem;
    }

    a {
      color: #000;
      padding: 0;
      border: none !important;
      padding: 0.5rem 1rem !important;
      text-decoration: none;
      border-radius: 0.25rem !important;
      background: #eee;

      &:hover {
        color: #fff;
        background-color: $main-color;
      }
    }
  }
}
