.menu-pills {
  &__item {
    background: #eee;
    font-size: 1.25rem;
    border-radius: 0.25rem !important;
    margin-right: 0.2rem;

    &.pure-menu-selected {
      color: #fff;
      background: $header-color;
      padding: 0.5rem 1rem;
    }

    a {
      color: $header-color;
      padding: 0;
      border: none !important;
      padding: 0.5rem 1rem !important;

      &:hover {
        background: $grey-color;
      }
    }
  }
}