.post {
  margin-top: 2.9rem;

  &__title {
    color: $header-color;
    margin-bottom: 0.45em;
  }

  &__date {
    color: $text-color;
    font-size: 0.45em;
    line-height: 2em;
    vertical-align: text-top;
    white-space: nowrap;

    time { display: inline; }
  }

  &__meta {
    color: $text-color;
    font-size: 80%;
    margin: 0;
    text-transform: uppercase;
  }

  &__content {
    @include text-font;

    color: $text-color;

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $header-color;
    }

    p {
      line-height: 1.45em;
    }

    img {
      max-width: 100%;
    }

    li {
      margin-bottom: 0.5em;
    }
  }
}
