.post {
  &__header {
    position: relative;
  }

  &__status {
    position: absolute;
    left: -25px;
    top: 25px;
    font-size: 20px;
    font-size: 4rem;
    line-height: 0;

    &--actual {
      color: limegreen;
    }
  }
}
