.post {
  &__title {
    font-weight: bold;
    font-size: 2.25em;
    color: $header-color;
    margin: 0;
  }

  &__date {
    color: $text-color;
    font-size: 0.45em;
    line-height: 2em;
    vertical-align: text-top;
    white-space: nowrap;

    time { display: inline; }
  }

  &__meta {
    color: $text-color;
    font-size: 80%;
    margin: 0;
    text-transform: uppercase;
  }

  &__content {
    @include text-font;

    color: $text-color;

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $header-color;
    }

    a {
      text-decoration: none;
      color: $header-color;
      border-bottom: 1px $header-color solid;
      padding-bottom: 2px;

      &:hover,
      &:focus {
        color: $text-color;
        cursor: pointer;
        border-bottom: none;
      }
    }

    h2 {
      font-size: 1.625em;
      margin: 1.25em 0 0.5em;
    }

    p {
      line-height: 1.6;
      font-size: 1.125rem;
      margin-bottom: 1.25rem;
    }

    img {
      display: block;
      max-width: 100%;
      width: 650px;
      border: 3px solid #faf7ff;
      padding: 0.3125rem;
      margin: 2rem auto 2.5rem;
      border-radius: 1px;
    }

    ol, ul {
      margin-bottom: 2rem;

      li {
        &::before {
          color: $header-color;
          display: inline-block;
          width: 1rem;
          margin-left: 0;
          font-size: 0.75rem;
          float: left;
        }
      }
    }

    ol {
      list-style: none;
      counter-reset: li;

      li {
        counter-increment: li;

        &::before {
          content: counter(li) ")";
        }
      }
    }

    ul {
      list-style: none;

      li {
        &::before {
          content: "•";
          font-size: 1.15rem;
        }
      }
    }

    li {
      line-height: 1.5rem;
      font-size: 1.12rem;
      margin-bottom: 0.75rem;
      margin-left: -2.5rem;
    }

    blockquote {
      code {
        font-variant: normal;
      }

      p {
        font-size: 1.45rem;
        line-height: 1.45;
        max-width: 100%;
        margin: 1.25rem 0 1.3rem;
      }
    }
  }
}

@media (min-width: $mobile) {
  .post {
    margin-top: 3.05rem;

    &__content {
      p, ul, ol {
        max-width: 45rem;
      }

      ol, ul {
        li {
          &::before {
            margin-left: -1rem;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .post {
    &__content {
      p, ul, ol {
        max-width: 60rem;
      }
    }
  }
}
