.subscribe {
  a {
    background: $main-color;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin-bottom: 10px;
    color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: #bbb;
    }
  }
}
