.tags_cloud {
  padding: 20px 0 0;

  &--inline {
    margin-left: 1em;
  }

  &__list {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.tag {
  background: #eee;

  padding: 0 5px;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 4px;

  &:hover,
  &:focus {
    text-decoration: none;
    background: $main-color;
    color: #fff;
  }
}

@media (min-width: $mobile) {
}
