---
layout: default
---

<article class="post post--docs" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post__header">
        <h1 class="post__title" itemprop="name headline">
            {{ page.title | markdownify }}
        </h1>
    </header>

    <div class="post__content" itemprop="articleBody">
        {{ content }}
    </div>
</article>

<nav class="docs_nav pure-g">
    <div class="docs_nav__inner pure-u-1 pure-u-md-3-4">
        <div class="pure-g">
        {% if page.prev_page %}
            <div class="docs_nav__column docs_nav__column--prev pure-u-1-3">
                <a href="/docs/{{page.prev_page}}.html" class="docs_nav__link pure-button">&larr; Предыдущий раздел</a>
            </div>
        {% endif %}
        <div class="docs_nav__column docs_nav__column--contents pure-u-1-3">
            <a href="#" class="docs_nav__link docs_nav__link--contents pure-button">☰</a>
        </div>
        {% if page.next_page %}
            <div class="docs_nav__column docs_nav__column--next pure-u-1-3">
                <a href="/docs/{{page.next_page}}.html" class="docs_nav__link pure-button">Следующий раздел &rarr;</a>
            </div>
        {% endif %}
        </div>
    </div>
</nav>
