---
layout: default
---
{% assign current_page = paginator.page %}
{% assign first_page = false %}{% if current_page == 1 %}{% assign first_page = true %}{% endif %}
{% assign offset = 0 %}{% if first_page %}{% assign offset = 1 %}{% endif %}

<div class="home">
  {% if first_page %}
    <div class="posts home__section">
      <h2 class="content__subhead">Самое интересное</h2>

      {% assign main_post = site.posts.first %}

      {% include post_main.html post=main_post %}
    </div>
  {% endif %}

  {% if first_page %}
    <div class="home__section">
      {% include intro.html %}
    </div>
  {% endif %}

  <div class="posts home__section">
    <h2 class="content__subhead">Новые посты</h2>

    {% for post in paginator.posts limit: (per_page - offset) offset: offset %}
      {% include post_list.html post=post %}
    {% endfor %}
  </div>

  <div class="home__section">
    {% include pagination.html %}
  </div>

  <div class="home__section tags_cloud tags_cloud--colorless">
    {% include tags_cloud.html %}
  </div>

  <div class="home__section">
    <h1 class="home__title">{{ site.home_title }}</h1>
  </div>
</div>
