---
layout: default
---
{% include global_variables.html %}

<div class="home">
  {% if first_page %}
    <div class="posts home__section best_post">
      <h2 class="content__subhead">Самое интересное</h2>

      {% assign post = site.categories["articles"].first %}
      {% include post_item.html show_cover=true %}
    </div>
  {% endif %}

  <div class="posts home__section">
    <h2 class="content__subhead">Новые посты</h2>

    {% for post in paginator.posts limit: (per_page - offset) offset: offset %}
      {% include post_item.html %}
    {% endfor %}
  </div>

  <div class="home__section">
    {% include pagination.html %}
  </div>

  <div class="home__section tags_cloud">
    {% include tags_cloud.html %}
  </div>
</div>
