---
layout: default
---

{% assign author = site.authors[page.author] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__header">
    {% if page.elixir_version and site.elixir_version == page.elixir_version %}
      <span class="post__status post__status--actual">·</span>
    {% endif %}

    <h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>

    <div class="post__meta post_meta">
      <ul class="meta_list">
        <li class="meta_list__item">
          <ul class="post_info">
            {% if page.date %}
              <li class="post_info__item">
                <span class="post_date">
                  <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {% include translated_date.html date=page.date format="%d %B %Y" %}
                  </time>
                </span>
              </li>
            {% endif %}

            {% if page.update_date %}
              <li class="post_info__item">
                <span class="post_date post_update_date">
                  обновлено
                  <time datetime="{{ page.update_date | date_to_xmlschema }}" itemprop="datePublished">
                    {% include translated_date.html date=page.update_date format="%d %B %Y" %}
                  </time>
                </span>
              </li>
            {% endif %}

            {% if author.name %}
              <li class="post_info__item">
                <span class="post_autor" itemprop="author" itemscope itemtype="http://schema.org/Person">
                  <span itemprop="name">{{ author.name }}</span>
                </span>
              </li>
            {% endif %}
          </ul>
       </li>

        {% if page.source_author %}
          <li class="meta_list__item">
            <div class="post_source_info">
              Оригинал:
              &laquo;<a href="{{ page.source_url }}">{% if page.source_title %}{{ page.source_title }}{% else %}{{ page.source_url }}{% endif %}</a>&raquo;
              &copy;
              {{ page.source_author }}
            </div>
          </li>
        {% endif %}

        {% if page.tags.size > 0 %}
          <li class="meta_list__item">
            {% include tags_cloud.html post_tags=page.tags %}
          </li>
        {% endif %}
      </ul>
    </div>
  </header>

  <div class="post__content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- uSocial -->
  <div class="post__share_block share_block">
    <script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
    <div class="uSocial-Share" data-pid="2fd19544e551bce292425ee8adaa31be" data-type="share" data-options="round,style2,default,absolute,horizontal,size32,counter1,counter-before,upArrow-right,nomobile" data-social="telegram,fb,vk,gPlus,twi,bookmarks"></div>
  </div>
  <!-- /uSocial -->
</article>
