---
layout: default
---

{% assign author = site.authors[page.author] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__header">
    {% if page.elixir_version and site.elixir_version == page.elixir_version %}
    <span class="post__status post__status--actual">·</span>
    {% endif %}
    <h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>

    <div class="post__meta post_meta">
      <ul class="meta_list">
        <li class="meta_list__item">
          {% if page.date %}
          <span class="">
            <small class="meta_list__item_name">Дата</small>
            <time class="h-bold" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {% include translated_date.html date=page.date format="%d %B %Y" %}
            </time>
          </span>
          {% endif %}

          {% if page.update_date %}
          <span class="">
            <small class="meta_list__item_name">Дата последнего обновления</small>
            <time class="h-bold" datetime="{{ page.update_date | date_to_xmlschema }}" itemprop="datePublished">
              {% include translated_date.html date=page.update_date format="%d %B %Y" %}
            </time>
          </span>
          {% endif %}
        </li>
        {% if page.tags.size > 0 %}
        <li class="meta_list__item">
            <span class="tag_cloud tags_cloud--inline h-no_margin">
              <small class="meta_list__item_name">Теги</small> {% include tags_cloud.html post_tags=page.tags %}
            </span>
        </li>
        {% endif %}
        <li class="meta_list__item">
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <small class="meta_list__item_name">
              {% if page.source_url %}
                Перевод
              {% elsif author %}
                Автор
              {% endif %}
            </small>
            <span itemprop="name" class="h-bold">{{ author.name }}</span>
          </span>
        </li>

        <li class="meta_list__item">
          {% if page.source_author %}
            <div >
              <small>Оригинал</small>
              <strong>
                &laquo;<a href="{{ page.source_url }}" style="text-transform: none; text-decoration: underline; color: #4b2e39;">{% if page.source_title %}{{ page.source_title }}{% else %}{{ page.source_url }}{% endif %}</a>&raquo;
              </strong>
              <small>&copy;</small>
              <strong>{{ page.source_author }}</strong>
            </div>
          {% endif %}
        </li>
      </ul>
    </div>
  </header>

  <div class="post__content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- uSocial -->
  <div class="post__share_block share_block">
    <script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
    <div class="uSocial-Share" data-pid="2fd19544e551bce292425ee8adaa31be" data-type="share" data-options="round,style2,default,absolute,horizontal,size32,counter1,counter-before,upArrow-right,nomobile" data-social="telegram,fb,vk,gPlus,twi,bookmarks"></div>
  </div>
  <!-- /uSocial -->
</article>
